.BannerMiddle{
    @apply w-full relative isolate flex items-center justify-center text-center py-[5.2rem] px-[2.5rem];
    background-image: var(--img-mobile); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    &::after{
        content: '';
        background: rgba(5, 108, 242, 0.8);
        /* mix-blend-mode: multiply; */
        @apply absolute inset-0 z-[-1];
    } 
    &-p p{
        @apply text-white  font-dmsans font-bold text-[1.6rem] leading-[150%];
        
        &:nth-child(2){
           @apply text-[2rem];
        }
    }
    @media screen(laptop){
        @apply p-0;
        background-image: var(--img-dektop); 
        height: calc(34.1rem * var(--scale));
        
        &-p p {
            font-size: calc(3.5rem * var(--scale));
            &:nth-child(2){
               font-size: calc(4.5rem * var(--scale));
            }
        }

    }

}